.layoutUser {
  min-width: 130px;
  max-width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.tuichu {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}
