@import './themeColor.less';

// 全局导航样式
.pro_layout_content_top_home {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--w-alpha-0);
  transition: 0.5s;
}

.pro_layout_content_top {
  .pro_layout_content_top_home();
  background-color: var(--w-alpha);
  box-shadow: var(--ct-box-shadow);
  z-index: 99;
  position: relative;
}

// 禁止选中
#noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  not supported by any browser */
}
