:root {
  --theme-t-color: rgb(48, 255, 111);
  --theme-b-color: rgb(64, 169, 255);
  --theme-r-color: rgb(255,77,79);
  --w-alpha-0: rgba(255, 255, 255, 0);
  --w-alpha-5: rgba(255, 255, 255, 0.05);
  --w-alpha-10: rgba(255, 255, 255, 0.1);
  --w-alpha-15: rgba(255, 255, 255, 0.15);
  --w-alpha-20: rgba(255, 255, 255, 0.2);
  --w-alpha-30: rgba(255, 255, 255, 0.3);
  --w-alpha-50: rgba(255, 255, 255, 0.5);
  --w-alpha-60: rgba(255, 255, 255, 0.6);
  --w-alpha-70: rgba(255, 255, 255, 0.7);
  --w-alpha-80: rgba(255, 255, 255, 0.8);
  --w-alpha-90: rgba(255, 255, 255, 0.9);
  --b-alpha-5: rgba(0, 0, 0, 0.05);
  --b-alpha-10: rgba(0, 0, 0, 0.1);
  --b-alpha-15: rgba(0, 0, 0, 0.15);
  --b-alpha-20: rgba(0, 0, 0, 0.2);
  --b-alpha-30: rgba(0, 0, 0, 0.3);
  --b-alpha-35: rgba(0, 0, 0, 0.35);
  --b-alpha-40: rgba(0, 0, 0, 0.4);
  --b-alpha-50: rgba(0, 0, 0, 0.5);
  --b-alpha-60: rgba(0, 0, 0, 0.6);
  --b-alpha-70: rgba(0, 0, 0, 0.7);
  --b-alpha-80: rgba(0, 0, 0, 0.8);
  --b-alpha-90: rgba(0, 0, 0, 0.9);
  --w-alpha: rgb(255, 255, 255);
  --b-alpha: rgb(0, 0, 0);
}

.dark {
  --w-alpha-0: rgba(0, 0, 0, 0);
  --w-alpha-5: rgba(0, 0, 0, 0.05);
  --w-alpha-10: rgba(0, 0, 0, 0.1);
  --w-alpha-15: rgba(0, 0, 0, 0.15);
  --w-alpha-20: rgba(0, 0, 0, 0.2);
  --w-alpha-30: rgba(0, 0, 0, 0.3);
  --w-alpha-50: rgba(30, 30, 30, 0.5);
  --w-alpha-60: rgba(0, 0, 0, 0.6);
  --w-alpha-70: rgba(30, 30, 30, 0.7);
  --w-alpha-80: rgba(30, 30, 30, 0.8);
  --w-alpha-90: rgba(30, 30, 30, 0.9);
  --b-alpha-5: rgba(255, 255, 255, 0.05);
  --b-alpha-10: rgba(255, 255, 255, 0.1);
  --b-alpha-15: rgba(255, 255, 255, 0.15);
  --b-alpha-20: rgba(255, 255, 255, 0.2);
  --b-alpha-30: rgba(255, 255, 255, 0.3);
  --b-alpha-35: rgba(255, 255, 255, 0.35);
  --b-alpha-40: rgba(255, 255, 255, 0.4);
  --b-alpha-50: rgba(255, 255, 255, 0.5);
  --b-alpha-60: rgba(255, 255, 255, 0.6);
  --b-alpha-70: rgba(255, 255, 255, 0.7);
  --b-alpha-80: rgba(255, 255, 255, 0.8);
  --b-alpha-90: rgba(255, 255, 255, 0.9);
  --w-alpha: rgb(0, 0, 0);
  --b-alpha: rgb(255, 255, 255);
}
