.pro_layout {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  display: flex;
  overflow: hidden;

  .pro_layout_menu {
    min-width: 240px;
    max-width: 22vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    background: var(--ct-bg-leftbar-gradient);
    overflow: hidden;

    .pro_layout_menu_top {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      .pro_layout_menu_icon {
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
        }
      }
    }

    :global {
      .ant-menu-root {
        width: 100% !important;
        flex: 1;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent !important;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .ant-menu-sub {
        width: 100% !important;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent !important;
        overflow: hidden;
      }

      .ant-menu-item-icon,
      .ant-menu-title-content,
      .ant-menu-submenu-arrow {
        color: var(--w-alpha-70);

        &:hover {
          color: var(--w-alpha) !important;
        }
      }

      .ant-menu-submenu:hover .ant-menu-submenu-arrow {
        color: var(--w-alpha) !important;
      }

      .ant-menu-item-selected {
        background: transparent !important;

        &::after {
          display: none;
        }

        .ant-menu-item-icon,
        .ant-menu-title-content,
        .ant-menu-submenu-arrow {
          color: var(--w-alpha) !important;
        }
      }

      .ant-menu-submenu-selected {
        .ant-menu-item-icon,
        .ant-menu-title-content,
        .ant-menu-submenu-arrow {
          color: var(--w-alpha) !important;
        }
      }

      .ant-menu-submenu-title,
      .ant-menu-item {
        &:active {
          background: transparent !important;
        }
      }
    }
  }

  .pro_layout_menu_small {
    .pro_layout_menu();
    min-width: 60px !important;
    max-width: 60px !important;
    width: 60px !important;
  }

  .pro_layout_content {
    flex: 1;
    height: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;

    .pro_layout_content_top_home {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      background-color: var(--w-alpha-0);
      transition: 0.5s;
    }

    .pro_layout_content_top {
      .pro_layout_content_top_home();
      background-color: var(--w-alpha);
      box-shadow: var(--ct-box-shadow);
      z-index: 99;
      position: relative;
    }

    .pro_layout_content_page {
      width: 100%;
      padding: 20px;
      background-color: var(--ct-body-bg);
      height: calc(100% - 60px);
      overflow-y: auto;
    }
  }
}

.pro_layout_search_box {
  flex: 1;
  min-width: 0;
  height: 100%;
}

.pro_layout_user {
  min-width: 130px;
  max-width: 200px;
  height: 100%;
}

:global {
  .ant-btn-ghost {
    border: none !important;
    box-shadow: 2px 0px 3px var(--b-alpha-10);
    margin-bottom: 0 !important;
  }
}
